@charset 'UTF-8';

// Typographic styles and vertical rhythm pulled from http://www.gridlover.net/app/

body {
  max-width: 760px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 25px;
}
h1 {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 105px;
  line-height: 125px;
}
h2 {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 58px;
  line-height: 75px;
}
h3 {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 32px;
  line-height: 50px;
}
h4 {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 25px;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Sanitation */
hr {
  margin: -1px 0;

  border: 1px solid;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b,
strong,
em,
small,
code {
  line-height: 1;
}
sup,
sub {
  position: relative;
  top: -.4em;

  vertical-align: baseline;
}
sub {
  top: .4em;
}

// EOF
