/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
/* line 8, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

/* HTML5 display-role reset for older browsers */
/* line 97, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* line 110, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_reset.scss */
body {
  line-height: 1; }

/* line 113, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_reset.scss */
ol,
ul {
  list-style: none; }

/* line 117, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_reset.scss */
blockquote,
q {
  quotes: none; }

/* line 121, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
/* line 135, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_reset.scss */
ins {
  text-decoration: none; }

/* line 138, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_reset.scss */
del {
  text-decoration: line-through; }

/* line 142, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_reset.scss */
table {
  border-spacing: 0;
  border-collapse: collapse; }

/* line 3, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box; }

/* line 10, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  color: #333; }

/* line 29, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
body {
  min-height: 100vh;
  font-size: 1.8rem; }

/* line 35, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 40, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
a {
  color: #777;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: .2s;
  transition: .2s; }

/* line 46, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
a:link,
a:visited {
  text-decoration: none;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 #fff, inset 0 -3px 0 0 currentColor;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 4px 0 0 #fff, -4px 0 0 #fff;
  text-decoration-skip: ink; }

/* line 58, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
a:visited {
  color: rgba(119, 119, 119, 0.5); }

/* line 61, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
a:hover,
a:active,
a:focus {
  opacity: .5; }

/* line 69, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
.skip {
  position: absolute;
  z-index: -999;
  top: auto;
  left: -999px;
  overflow: hidden;
  width: 1px;
  height: 1px; }

/* line 80, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
.skip:focus,
.skip:active {
  z-index: 999;
  top: auto;
  left: auto;
  overflow: auto;
  width: 30%;
  height: auto;
  text-align: center; }

@media (max-width: 768px) {
  /* line 94, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_base.scss */
  a:link,
  a:visited {
    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 currentColor; } }

/* line 3, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_form.scss */
button {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: inherit;
  font-weight: 100;
  color: #777;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  /* line 23, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_form.scss */
  button:hover {
    opacity: .8; }

/* line 27, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_form.scss */
input,
button,
textarea,
select {
  overflow: visible;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  line-height: inherit;
  vertical-align: bottom;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-fill-color: #fff; }

/* line 49, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_form.scss */
input,
textarea,
select {
  border: 1px solid currentColor; }

/* line 54, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_form.scss */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background: #fff !important;
  box-shadow: 0 0 0 1000px #fff inset;
  text-fill-color: currentColor;
  -webkit-text-fill-color: currentColor; }

/* line 64, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_form.scss */
button::-moz-focus-inner,
input:-moz-focus-inner,
select:-moz-focus-inner,
*:focus-inner {
  padding: 0;
  border: none; }

/* line 12, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_bemErrorChecking.scss */
[class*='--']:not([class*=' ']) {
  position: relative;
  outline: 1px solid red; }
  /* line 16, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/components/_bemErrorChecking.scss */
  [class*='--']:not([class*=' ']):after {
    position: absolute;
    bottom: 100%;
    left: 0;
    content: "ERROR: Cannot have a Modifier (i.e. `." attr(class) "`) without a Block.";
    font-family: monospace;
    white-space: nowrap;
    color: red;
    background-color: white; }

/* line 14, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
:root {
  font-size: 12px; }

@media (min-width: 768px) and (max-width: 1800px) {
  /* line 17, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
  :root {
    font-size: calc( 12px + (18 - 12) * ( (100vw - 768px) / ( 1800 - 768) )); } }

@media (min-width: 1800px) {
  /* line 22, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
  :root {
    font-size: 18px; } }

/* line 37, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
body {
  max-width: 760px;
  margin: 0 auto;
  padding: 1.6875rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6875rem; }

/* line 48, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: inherit;
  font-size: 4.75rem;
  font-weight: 600;
  font-style: inherit;
  line-height: 5.0625rem; }

/* line 58, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
h2 {
  margin-top: 0rem;
  margin-bottom: 1.6875rem;
  font-family: inherit;
  font-size: 2.9375rem;
  font-weight: 600;
  font-style: inherit;
  line-height: 3.375rem; }

/* line 68, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: inherit;
  font-size: 1.8125rem;
  font-weight: 600;
  font-style: inherit;
  line-height: 3.375rem; }

/* line 78, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: inherit;
  line-height: 1.6875rem; }

/* line 88, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
h5 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6875rem; }

/* line 98, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.6875rem; }

/* line 107, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0; }

/* line 114, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
hr {
  margin: -1px 0;
  border: 1px solid; }

/* line 119, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
b,
strong,
em,
small,
code {
  line-height: 1; }

/* line 126, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
sup {
  position: relative;
  top: -.5em;
  line-height: 0;
  vertical-align: baseline; }

/* line 133, /Users/akukral/Sites/Site-Bootstrap/html/public/ui/_scss/modules/_Type.scss */
sub {
  bottom: -.25em; }
