{% extends "layout/_layout" %}

{% set title = "Contact" %}
{% set metaDescription = entry.metaDescription %}
{% set metaKeywords = entry.metaKeywords %}

{% block content %}
<main class="Content">
	<div class="Content__post Content__post-full">
		<div class="Content__copy">
			{{ entry.body }}
			<br><br>
			<form method="post" action="" accept-charset="UTF-8" class="Form">
				{{ getCsrfInput() }}
				<input type="hidden" name="action" value="contactForm/sendMessage">
    			<input type="hidden" name="redirect" value="contact">

				<div class="Form__group">
					<label for="fromName" class="">First &amp; Last Name</label>
					<input type="text" class="form-control" name="fromName" placeholder="Full Name" required>
				</div>
				<div class="Form__group">
					<label for="fromEmail" class="sr-only">Email</label>
					<input type="email" class="form-control" name="fromEmail" placeholder="Email Address" required>
				</div>
				<div class="Form__group hidden">
					<label for="subject" class="{# sr-only #}">Subject</label>
					<input type="text" class="form-control" name="subject" placeholder="Subject" value="Website Contact Form" required>
				</div>
				<div class="Form__group">
					<label for="message" class="{# sr-only #}">Message</label>
					<p class="Form__assistance">For wedding inquiries, please provide your event date, location, and approximate guest count.</p>
					<textarea name="message" class="form-control" rows="7" placeholder="Send us your message:" required>{# Send Us Your Message: #}</textarea>
				</div>

				<button type="submit" class="Btn Btn-primary">Submit</button>
				{# <button type="submit" class="Btn Btn-tertiary">Clear Form Form</button> #}
			</form>
			<!-- /.Form -->
		</div>
	</div>
</main>
{% endblock %}
